{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}
{%- if page.content-type -%}
  {%- assign content-type = page.content-type -%}
{%- elsif content-type == nil -%}
  {%- assign content-type = 'session' -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
  <div class="pagination">
    <!-- Post list links -->
    <ul class="post-list">
      {%- for post in paginator.posts -%}

        {% assign matchesCategory = 0 %}
        <!-- loop over categories of the post and determine if the post matches the set category type. Only display the post if the category matches -->
        {%- for category in post.categories -%}
          {%- if category == content-type -%}
            {%- assign matchesCategory = 1 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if matchesCategory == 1 -%}
        <li>
          {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}

          {% assign article = post.content %}
          {% assign lang = post.lang %}
          {%- include functions.html func='get_reading_time' -%}
          {% assign reading_time = return %}
          {%- include functions.html func='get_article_excerpt' -%}
          {% assign excerpt = return %}
          {%- assign post_url = post.url | relative_url -%}

          <!-- TODO  remove this later, here just for testing -->
          {%- assign testCharPic = '/assets/images/willie_strong.png' -%}

          <h2 class="post-title">
            <a class="post-link" href="{{ post_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          <div class="post-meta">
            <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</span>
            <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ reading_time }}</span>
          </div>
          {%- if content-type == 'characters' -%}
          <img src="{{ testCharPic }}" title="charpic" width="200"/>
          {%- endif -%}
          <a class="post-excerpt" href="{{ post_url }}">
            <p>
              {{ excerpt }} <span class="read_more">Read More</span>
            </p>
          </a>
          <div class="post-tags">
            {%- for tag in post.tags -%}
              <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
            {%- endfor -%}
          </div>
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- Pagination links -->
    {%- if paginator.posts.size < site.posts.size -%}
      {%- include views/paginator.html -%}
    {%- endif -%}
  </div>
{%- endif -%}
